img {
    height: 300px;
    width: 99%;
    left: 3px;
    position: relative;
}
#titulofeed{
    text-align: center;
    background-color: white;
}

.titulopost{
    display: flex;
    justify-content: space-between;
    
}
.date {
    padding-top: 5%;
    margin-right: 5px;
}
h1{
    margin-left: 5px;
}
header{
    margin-top: 10px;
    background-color: white;
    margin-bottom: 20px;
}
.description {
    margin: 5px 10px;
}


#photo1{
    width: 350px;
    height: 250px; ;
}
main {
    width: 350px;
    min-height: 425px;
    margin: auto auto;
}
#photoinsta {
    width: 350px;
    height: 250px; ;
}


#photoinsta2 {
    width: 350px;
    height: 250px; ;
}
#post2 {
    background-color: white;
}